<%page expression_filter="h"/>
<%inherit file="base.html" />
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">Ramshackle</%block>
<%block name="bodyclass">ramshackle</%block>

<%block name="header_extras">

</%block>

<%block name="content">
    <div class="wrapper-content wrapper">
        <section class="content">
            <h1>Welcome to Ramshackle!</h1>
        </section>
    </div>
</%block>
