<div class="content-wrapper container-fluid">
    <div id="ramshackle-root">
        <h1>Loading Ramshackle...</h1>
    </div>
</div>
<script>
    (() => {
        const myRequire = requirejs.config({
            context: 'ramshackle', // Namespace these modules to not conflict with existing modules in edxapp
            paths: {
                'prop-types': 'https://unpkg.com/prop-types@15/prop-types.min',
                'react': 'https://unpkg.com/react@16/umd/react.development',
                'react-dom': 'https://unpkg.com/react-dom@16/umd/react-dom.development',
                'react-router-dom': 'https://unpkg.com/react-router-dom@5/umd/react-router-dom.min',
                'react-dropzone': 'https://unpkg.com/react-dropzone@10.1.10/dist/index',
            },
        });
        // Our library's JS module has been injected in to the HTML via a fragment,
        // so we just require() it to initialize and run it:
        myRequire(['ramshackle'], () => {});
    })();
    window.userIsAnonymous = {% if user_is_anonymous %}true{% else %}false{% endif %};
</script>
